<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
    <title>Info</title>
</head>
<body>

<div class="container min-vh-90 h-auto">
    <div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div>

    <h3>회원 정보 변경</h3>
    <div>
        <table class="table border">
            <tbody>
            <tr>
                <th>등급</th>
                <td th:each="auth : ${#authentication.authorities}">
                    <span th:text="|${auth.authority} |"></span>
                </td>
            </tr>
            <tr>
                <th>이름</th>
                <td th:text="${#authentication.name}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="d-md-flex justify-content-md-around">
        <a href="/members/update" class="link-underline link-underline-opacity-0">
            <button type="button" class="btn btn-primary">수정하기</button>
        </a>
        <a href="/members/retire"
           class="link-secondary link-underline-opacity-0">탈퇴하기</a>
    </div>

</div>


<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>