<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
    <title>Login</title>
</head>
<body>

<div class="container min-vh-90 h-auto">
    <div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div>
    <h3>로그인</h3>
    <form action="/login" th:object="${memberForm}" method="post">
        <div class="form-floating mb-3">
            <input type="text" th:class="${loginFail} ? 'form-control border border-danger':'form-control'"
                   th:field="*{name}" autofocus>
            <label th:for="name" th:text="${loginFail} ? ${loginFail} : '이름'"
                   class="form-label"></label>
        </div>
        <button type="submit" class="btn btn-primary">로그인하기</button>
    </form>

</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>