<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="header" th:fragment="bodyHeader">
    <nav class="rounded px-3 navbar navbar-expand-lg bg-body-tertiary">
        <a class="navbar-brand" href="/"><h3>MOA</h3></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-md-flex justify-content-md-between" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/boards/list">게시판</a>
                </li>
                <li class="nav-item"
                    th:if="${session.user != null and session.user.role == T(com.moa.domain.RoleStatus).ADMIN}">
                    <a class="nav-link" href="/admin/members">멤버리스트</a>
                </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0">
                <th:block th:if="${session.user == null}">
                    <li class="nav-item">
                        <a class="nav-link" href="/login">로그인</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/members/new">회원가입</a>
                    </li>
                </th:block>
                <th:block th:unless="${session.user == null}">
                    <li class="nav-item">
                        <a class="nav-link" th:text="'안녕하세요 ' + ${session.user.name} + '님'"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/members/info">내 정보</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/logout">로그아웃</a>
                    </li>
                </th:block>
            </ul>
        </div>
    </nav>
</div>


