<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
    <title>Detail</title>
</head>
<body>

<div class="container" th:object="${boardForm}">
    <div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div>
    <h3 th:text="*{title}"></h3>
    <div class="">
        <div>
            <textarea class="my-3 " th:field="*{content}" cols="30" rows="10" readonly
                      style="resize: none;"></textarea>
        </div>
        <div>
            <!-- 좋아요 버튼 -->
            <form th:action="@{/boards/{boardId}/like(boardId=${boardForm.id})}" method="post">
                <button type="submit" class="btn btn-primary">좋아요</button>
            </form>
            <!-- 누적 좋아요 수 -->
            <span th:text="${likeCount} + '명이 좋아합니다'"></span>
        </div>

    </div>
    <hr>
    <div>

        <!--댓글 작성 공간-->
        <div>
            <form th:action="@{/comments/{boardId}(boardId = ${boardForm.id})}"
                  class="form-floating d-md-flex justify-content-md-center" th:object="${commentForm}"
                  method="post">
                <textarea class="my-3 form-control" th:field="*{text}" cols="30" rows="4"
                          style="resize: none;"></textarea>
                <input type="submit" value="작성">
            </form>
        </div>
        <!--댓글 목록-->
        <div th:each="comment : ${comments}">
            <div th:text="${comment.member.name}"></div>
            <div th:text="${comment.content}"></div>
            <div th:text="${comment.commentDate}"></div>

        </div>
    </div>

</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>