<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
    <title>List</title>
</head>
<body>

<div class="container min-vh-90 h-auto">
    <div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div>
    <div>
        <div style="display: inline-block;">
            <h3>유저 목록</h3>
        </div>
        <div style="display: inline-block;">
            <select id="roleSelect">
                <option value="">선택</option>
                <option value="ALL">전체</option>
                <option th:each="role : ${T(com.moa.domain.RoleStatus).values()}"
                        th:value="${role.toString()}"
                th:text="${role.grade}">
                </option>
            </select>
            <button onclick="getMembersByRole()">조회</button>
        </div>
    </div>
    <div>
        <table class="table table-hover">
            <thead class="table-light">
                <tr>
                    <th>*</th>
                    <th class="col-md-7">이름</th>
                    <th class="col-md-3">등급</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr th:each="member : ${members}">
                    <td class="col-md-2" th:text="${member.id}"></td>
                    <td class="col-md-7" th:text="${member.name}"></td>
                    <td class="col-md-3" th:text="${member.role}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
<script th:inline="javascript">
    function getMembersByRole() {
        const role = document.getElementById("roleSelect").value;
        window.location.href = '/admin/members?role=' + role;
    }
</script>
</html>